.container-centered {
    display: flex; /* Sirve para alinear y distribuir los elementos aumáticamente */
    text-align: center; /* Centra el texto dentro del contenedor y cualquier otro elemento */

}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Sirve para cambiar el tipo de letra al título del formulario */
    text-decoration: underline; /* Sirve para subrayar el título del formulario */
}
.container {
    border: 5px solid orange; /* Coloca un borde alrededor de color naranja */
    border-radius: 10px; /* Sirve para hacer las esquinas redondeadas */
    padding: 20px; /* Crea un espacio de relleno alrededor del contenido */ 
    width: 100%; /* Establece el ancho del elemento */
}
