.btn{
    color: white;
}

.btn:hover{
    background-color: white;
}
.error-input {
    border: 1px solid red;
}

.card-img-top {
    max-height: 200px;
    max-width: 400px;
    width: 100%;
    height: 100%;
}
.card {
    margin: 40px;
}
.map-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px; /* Espacio entre los mapas */
}
.map-wrapper {
    flex: 1 1 calc(50% - 16px); /* Toma el 50% del ancho del contenedor, menos el espacio de gap */
    min-width: 300px; /* Ancho mínimo para los iframes */
    border: 2px solid #ccc; /* Marco alrededor de los iframes */
    border-radius: 8px; /* Bordes redondeados */
    overflow: hidden; /* Esconde cualquier contenido que se desborde */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
}
.map-wrapper iframe {
    width: 100%;
    height: 300px; /* Altura fija para los iframes */
    border: 0;
}